<form action="/students" method="post">
  <label>Name</label>
  <input type="text" placeholder="Enter a name" name="name">
  <label>House</label>
  <select name="house_id">
    <option value="1">Gryffindor</option>
    <option value="2">Slytherin</option>
    <option value="3">Ravenclaw</option>
    <option value="4">Hufflepuff</option>
  </select>
  <button>Create Student</button>
</form>

<%= form_for @student do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :house %>
  <%= f.collection_select :house_id, House.all, :id, :name %>
  <%= f.submit %>
<% end %>