<!DOCTYPE html>
<html>
<head>
  <title>Hogwartz</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Home", root_path %>
    <%= link_to "New Student", new_student_path %>
    <%= link_to "New Spell", new_spell_path %>
    <%= link_to 'Search Students', search_path %>
  </nav>

  <%= yield %>

</body>
</html>
